In [57]:
# Nhập thư viện
import pandas as pd
import numpy as np
print('Khai báo thư viện thành công')

Khai báo thư viện thành công

In [58]:
# Nhập dữ liệu
data = pd.read_csv('FoodPrice_in_Turkey.csv', header=0, encoding = "ISO-8859-1")
print('*'*20, "Nhập dữ liệu thành công", '*'*20)
display(data)
# data2 = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
# display(data2)

******************** Nhập dữ liệu thành công ********************

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [59]:
data.info() #.info() method, hàm
# data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

In [60]:
#Xác định số dòng và số cột của dữ liệu
print(data.shape) # shape là property, tính chất, thuộc tính
#Số cột
print(data.shape[0])
#Số hàng
print(data.shape[1])

(7381, 8)
7381
8

In [61]:
# Xác định tên các cột
data.columns

Index(['Place', 'ProductId', 'ProductName', 'UmId', 'UmName', 'Month', 'Year',
       'Price'],
      dtype='object')

In [62]:
# Việt hóa tên các cột
# Đổi tên chỉ 1 cột xác định
# data.rename(columns = {'Place':'Địa điểm'}, inplace=True)
# Đổi tên chỉ 1 vài cột xác định
# data.rename(columns = {'Place':'Địa điểm', 'ProductName':'Tên sản phẩm'}, inplace=True)
# Đổi tên toàn bộ các cột (Yêu cầu liệt kê đầy đủ tên cột mới và theo đúng thứ tự)
data.columns = ['Địa điểm', 'Mã SP', 'Tên SP', 'Đơn vị', 'Tên đơn vị', 'Tháng', 'Năm', 'Giá']
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [63]:
# Thêm cột mới vào sau cuối
data['cột mới']= np.nan
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá,cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN
...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN

In [64]:
# Chèn thêm cột 'Chiết khấu' vào sau cột 'Giá'
data.insert(8,'Chiết khấu (%)',np.random.randint(0,20,size=(data.shape[0], 1)))
display(data)
data.info()

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,3,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,13,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,14,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,5,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,16,NaN
...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,8,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,14,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,17,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,1,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,14,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Địa điểm        7381 non-null   object
 1   Mã SP           7381 non-null   int64
 2   Tên SP          7381 non-null   object
 3   Đơn vị          7381 non-null   int64
 4   Tên đơn vị      7381 non-null   object
 5   Tháng           7381 non-null   int64
 6   Năm             7381 non-null   int64
 7   Giá             7381 non-null   float64
 8   Chiết khấu (%)  7381 non-null   int32
 9   cột mới         0 non-null      float64
dtypes: float64(2), int32(1), int64(4), object(3)
memory usage: 547.9+ KB

In [65]:
# Thêm cột số lượng trước cột tháng, giá trị đều bằng 10?
data.insert(5,'Số lượng',10)
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,3,NaN
1,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,13,NaN
2,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14,NaN
3,National Average,52,Rice - Retail,5,KG,10,12,2013,5.1337,5,NaN
4,National Average,52,Rice - Retail,5,KG,10,1,2014,5.5099,16,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,10,8,2019,47.9040,8,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,14,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,17,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,1,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,14,NaN

## Thêm 1 dòng mới vào cuối bảng
### df.loc[cs]=[....]
df.loc[df.shape[0]] = [....]

In [66]:
# Sai lầm
# data.loc[data.shape[0]]= ['Sài Gòn','3000','Dưa hấu','5','KG','10','6','2022','50.000','0','NaN']
# Chuẩn
data.loc[data.shape[0]]= ['Sài Gòn',3000,'Dưa hấu',5,'KG',10, 6,2022,50.000,0,np.NaN]
display (data)
data.info()

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,3,NaN
1,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,13,NaN
2,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14,NaN
3,National Average,52,Rice - Retail,5,KG,10,12,2013,5.1337,5,NaN
4,National Average,52,Rice - Retail,5,KG,10,1,2014,5.5099,16,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,14,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,17,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,1,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,14,NaN
7381,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7382 entries, 0 to 7381
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Địa điểm        7382 non-null   object
 1   Mã SP           7382 non-null   int64
 2   Tên SP          7382 non-null   object
 3   Đơn vị          7382 non-null   int64
 4   Tên đơn vị      7382 non-null   object
 5   Số lượng        7382 non-null   int64
 6   Tháng           7382 non-null   int64
 7   Năm             7382 non-null   int64
 8   Giá             7382 non-null   float64
 9   Chiết khấu (%)  7382 non-null   int64
 10  cột mới         0 non-null      float64
dtypes: float64(2), int64(6), object(3)
memory usage: 692.1+ KB

### Thêm 1 dòng mới vào đầu bảng

In [67]:
# Thêm 1 dòng mới vào đầu bảng
data.loc[-1]= ['Hà Nội',3001,'Cốm làng Vòng',5,'KG',10, 6,2022,50.000,0,np.NaN]
# Update index của bảng
data.index = data.index + 1
# Sắp xếp lại bảng
data = data.sort_index()
display(data)
data.info()

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,6,2022,50.0000,0,NaN
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,3,NaN
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,13,NaN
3,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14,NaN
4,National Average,52,Rice - Retail,5,KG,10,12,2013,5.1337,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,14,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,17,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,1,NaN
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,14,NaN
7382,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7383 entries, 0 to 7382
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Địa điểm        7383 non-null   object
 1   Mã SP           7383 non-null   int64
 2   Tên SP          7383 non-null   object
 3   Đơn vị          7383 non-null   int64
 4   Tên đơn vị      7383 non-null   object
 5   Số lượng        7383 non-null   int64
 6   Tháng           7383 non-null   int64
 7   Năm             7383 non-null   int64
 8   Giá             7383 non-null   float64
 9   Chiết khấu (%)  7383 non-null   int64
 10  cột mới         0 non-null      float64
dtypes: float64(2), int64(6), object(3)
memory usage: 692.2+ KB

### Thêm 1 dòng mới vào vị trí bất kỳ

In [68]:
# Chèn thêm dòng ở vị trí bất kỳ, ví dụ 3
# data.loc[2.5]= ['Huế',3002,'Cơm hến',5,'KG',10, 6,2022,50.000,0,np.NaN]

#Sắp xếp lại các hàng theo đúng thứ tự từ nhỏ tới lớn và theo số tự nhiên
data = data.sort_index().reset_index(drop=True)

display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,6,2022,50.0000,0,NaN
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,3,NaN
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,13,NaN
3,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14,NaN
4,National Average,52,Rice - Retail,5,KG,10,12,2013,5.1337,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,14,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,17,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,1,NaN
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,14,NaN
7382,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN

## Xóa cột

## Xóa cột sử dụng lệnh del
### del df['Tên cột cần xóa']

In [43]:
# Xóa cột sử dụng del
data2 = data
display(data2)
# Xóa cột 'cột mới' (xóa ngay trên bảng gốc) -> Nguy hiểm, hạn chế dùng
del data2['cột mới']
display(data2)
display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,6,2022,50.0000,0,NaN
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,14,NaN
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,17,NaN
3,Huế,3002,Cơm hến,5,KG,10,6,2022,50.0000,0,NaN
4,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,16,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,8,NaN
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,9,NaN
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,12,NaN
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%)
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,6,2022,50.0000,0
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,14
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,17
3,Huế,3002,Cơm hến,5,KG,10,6,2022,50.0000,0
4,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,5
...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,16
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,8
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,9
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,12
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%)
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,6,2022,50.0000,0
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,14
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,17
3,Huế,3002,Cơm hến,5,KG,10,6,2022,50.0000,0
4,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,5
...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,16
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,8
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,9
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,12
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0

## Xóa cột sử dụng hàm pop()
### df.pop('Tên cột cần xóa')

In [56]:
# Xóa cột sử dụng pop()
data3 = data
display(data3)
# Xóa cột 'cột mới' (xóa ngay trên bảng gốc) -> hạn chế dùng
data3.pop('cột mới') #-> kết quả là cột cần xóa
display(data3)
display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,6,2022,50.0000,0,NaN
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,7,NaN
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,9,NaN
3,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,9,NaN
4,National Average,52,Rice - Retail,5,KG,10,12,2013,5.1337,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,8,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,10,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,8,NaN
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,13,NaN
7382,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%)
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,6,2022,50.0000,0
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,7
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,9
3,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,9
4,National Average,52,Rice - Retail,5,KG,10,12,2013,5.1337,2
...,...,...,...,...,...,...,...,...,...,...
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,8
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,10
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,8
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,13
7382,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%)
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,6,2022,50.0000,0
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,7
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,9
3,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,9
4,National Average,52,Rice - Retail,5,KG,10,12,2013,5.1337,2
...,...,...,...,...,...,...,...,...,...,...
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,8
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,10
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,8
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,13
7382,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0

## Xóa cột sử dụng hàm drop()
### df.drop('Tên cột cần xóa’, axis=1, inplace=True/False)
axis = 1 nghĩa là xóa cột
inplace = True -> xóa cả dữ liệu gốc = del, pop()
inplace = False -> dữ lại nguyên vẹn dữ liệu gốc (mặc định)

In [71]:
# Xóa cột sử dụng drop()
data4 = data
print('Data4')
display(data4)
# Xóa cột 'cột mới' (không xóa trực tiếp trên bảng gốc) -> nên dùng
data5 = data4.drop('cột mới', axis=1)  #-> lấy kết quả trả về
print('Data4')
display(data4)
print('Data5')
display(data5)
print('Data gốc')
display(data)

Data5

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%)
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,6,2022,50.0000,0
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,3
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,13
3,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14
4,National Average,52,Rice - Retail,5,KG,10,12,2013,5.1337,5
...,...,...,...,...,...,...,...,...,...,...
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,14
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,17
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,1
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,14
7382,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0

Data gốc

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,6,2022,50.0000,0,NaN
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,3,NaN
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,13,NaN
3,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14,NaN
4,National Average,52,Rice - Retail,5,KG,10,12,2013,5.1337,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,14,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,17,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,1,NaN
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,14,NaN
7382,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN

## Xóa nhiều cột sử dụng hàm drop()
### df.drop(['Tên cột cần xóa1',…, 'Tên cột cần xóa n'], axis=1, inplace=True/False)

In [72]:
# Xóa cột 'cột mới' và cột 'số lượng'
data6 = data.drop(['cột mới', 'Số lượng'], axis=1)
print('Data6')
display(data6)
print('Data gốc')
display(data)

Data6

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá,Chiết khấu (%)
0,Hà Nội,3001,Cốm làng Vòng,5,KG,6,2022,50.0000,0
1,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,3
2,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,13
3,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,14
4,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,5
...,...,...,...,...,...,...,...,...,...
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,14
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,17
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,1
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,14
7382,Sài Gòn,3000,Dưa hấu,5,KG,6,2022,50.0000,0

Data gốc

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,6,2022,50.0000,0,NaN
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,3,NaN
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,13,NaN
3,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14,NaN
4,National Average,52,Rice - Retail,5,KG,10,12,2013,5.1337,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,14,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,17,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,1,NaN
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,14,NaN
7382,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN

## Xóa dòng sử dụng hàm drop()
### df.drop(cs, axis=0, inplace=True/False)
axis = 0 -> xóa dòng
cs là index của dòng đấy

In [74]:
#Xóa dòng cuối cùng
data6 = data.drop(data.shape[0]-1, axis=0)
print("Data6")
display(data6)

Data6

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,6,2022,50.0000,0,NaN
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,3,NaN
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,13,NaN
3,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14,NaN
4,National Average,52,Rice - Retail,5,KG,10,12,2013,5.1337,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,10,8,2019,47.9040,8,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,14,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,17,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,1,NaN
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,14,NaN

In [76]:
# Xóa dòng đầu tiên của bảng
# data7 = data.drop(0, axis=0)
display(data7)
data7.info()

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,3,NaN
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,13,NaN
3,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14,NaN
4,National Average,52,Rice - Retail,5,KG,10,12,2013,5.1337,5,NaN
5,National Average,52,Rice - Retail,5,KG,10,1,2014,5.5099,16,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,14,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,17,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,1,NaN
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,14,NaN
7382,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7382 entries, 1 to 7382
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Địa điểm        7382 non-null   object
 1   Mã SP           7382 non-null   int64
 2   Tên SP          7382 non-null   object
 3   Đơn vị          7382 non-null   int64
 4   Tên đơn vị      7382 non-null   object
 5   Số lượng        7382 non-null   int64
 6   Tháng           7382 non-null   int64
 7   Năm             7382 non-null   int64
 8   Giá             7382 non-null   float64
 9   Chiết khấu (%)  7382 non-null   int64
 10  cột mới         0 non-null      float64
dtypes: float64(2), int64(6), object(3)
memory usage: 634.5+ KB

## Xóa nhiều dòng sử dụng hàm drop()
### df.drop([cs1,…,csn], axis=0, inplace=True)

In [79]:
# Xóa dòng thứ 3 và thứ 6
# data8 = data.drop([2,5], axis=0)
data8.head(20)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,6,2022,50.0000,0,NaN
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,3,NaN
3,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14,NaN
4,National Average,52,Rice - Retail,5,KG,10,12,2013,5.1337,5,NaN
6,National Average,52,Rice - Retail,5,KG,10,2,2014,5.8146,5,NaN
7,National Average,52,Rice - Retail,5,KG,10,3,2014,6.0014,18,NaN
8,National Average,52,Rice - Retail,5,KG,10,5,2014,6.3202,4,NaN
9,National Average,52,Rice - Retail,5,KG,10,6,2014,6.6019,2,NaN
10,National Average,52,Rice - Retail,5,KG,10,7,2014,6.6503,18,NaN
11,National Average,52,Rice - Retail,5,KG,10,8,2014,6.6806,0,NaN
12,National Average,52,Rice - Retail,5,KG,10,9,2014,6.6035,13,NaN
13,National Average,52,Rice - Retail,5,KG,10,10,2014,6.4960,8,NaN
14,National Average,52,Rice - Retail,5,KG,10,11,2014,6.6440,12,NaN
15,National Average,52,Rice - Retail,5,KG,10,12,2014,6.7240,14,NaN
16,National Average,52,Rice - Retail,5,KG,10,1,2015,6.7550,12,NaN
17,National Average,52,Rice - Retail,5,KG,10,2,2015,6.4900,18,NaN
18,National Average,52,Rice - Retail,5,KG,10,3,2015,6.5170,13,NaN
19,National Average,52,Rice - Retail,5,KG,10,4,2015,6.5400,6,NaN
20,National Average,52,Rice - Retail,5,KG,10,5,2015,6.5300,6,NaN
21,National Average,52,Rice - Retail,5,KG,10,6,2015,6.4400,2,NaN