In [1]:
# khai báo thư viện
import pandas as pd
import numpy as np
print("nhập dự liệu thành công")

nhập dự liệu thành công

In [3]:
#nhập dự liệu
data = pd.read_csv('OnlineRetail.csv', header=0, encoding = "ISO-8859-1")
print('*'*20, "Nhập dữ liệu thành công", '*'*20)
display(data)
data.info()
# data2 = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0, encoding = 'utf-8')
# display(data2)

******************** Nhập dữ liệu thành công ********************

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [4]:
#tìm số hàng và số cột dự liệu
print("so hang la:", data.shape[0], "số cột là:",data.shape[1])

so hang la: 541909 số cột là: 8

In [ ]:
#việt hóa tên các cột

data.columns = ['Số hóa đơn','mã hàng hóa','mô tả','số lượng','ngày','đơn giá','mã KH','nước']
display(data)

ValueError: Length mismatch: Expected axis has 9 elements, new values have 8 elements

In [11]:
#thêm cột tiền vào sau cuối 
data["Tiền"] = np.NaN
display(data)

,Số hóa đơn,mã hàng hóa,mô tả,số lượng,ngày,đơn giá,Chiết khấu (%),mã KH,nước,Tiền
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,0,17850.0,United Kingdom,NaN
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,3,17850.0,United Kingdom,NaN
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,18,17850.0,United Kingdom,NaN
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,2,17850.0,United Kingdom,NaN
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,1,17850.0,United Kingdom,NaN
...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,6,12680.0,France,NaN
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,5,12680.0,France,NaN
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,17,12680.0,France,NaN
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12,12680.0,France,NaN
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,14,12680.0,France,NaN

# 4. thêm 1 cột chiết khấu sau đơn giá

In [24]:
# data.insert(8,'Chiết khấu (%)',np.random.randint(0,20,size=(data.shape[0], 1)))
display(data)
data.info()

,Số hóa đơn,mã hàng hóa,mô tả,số lượng,ngày,đơn giá,Chiết khấu (%),mã KH,nước,Tiền
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,0,17850.0,United Kingdom,NaN
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,3,17850.0,United Kingdom,NaN
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,18,17850.0,United Kingdom,NaN
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,2,17850.0,United Kingdom,NaN
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,1,17850.0,United Kingdom,NaN
...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,6,12680.0,France,NaN
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,5,12680.0,France,NaN
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,17,12680.0,France,NaN
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12,12680.0,France,NaN
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,14,12680.0,France,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Số hóa đơn      541909 non-null  object
 1   mã hàng hóa     541909 non-null  object
 2   mô tả           540455 non-null  object
 3   số lượng        541909 non-null  int64
 4   ngày            541909 non-null  object
 5   đơn giá         541909 non-null  float64
 6   Chiết khấu (%)  541909 non-null  int32
 7   mã KH           406829 non-null  float64
 8   nước            541909 non-null  object
 9   Tiền            0 non-null       float64
dtypes: float64(3), int32(1), int64(1), object(5)
memory usage: 39.3+ MB

# 5. thêm 1 sản phẩm vào hàng thứ 541905
## thông tin sp: 3465536,325657, nồi chiên không dầu, 1000, 23/06/2022, 23, 3,2434, Thổ nhĩ kỳ, NaN

In [28]:
data.loc[541905]= [3465536,325657,'nồi chiên không dầu',1000,'23/06/2022',23.0,3,354665,"Thổ Nhĩ Kỳ",np.NaN]
data = data.sort_index().reset_index(drop=True)
display(data)
data.info()

,Số hóa đơn,mã hàng hóa,mô tả,số lượng,ngày,đơn giá,Chiết khấu (%),mã KH,nước,Tiền
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,0,17850.0,United Kingdom,NaN
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,3,17850.0,United Kingdom,NaN
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,18,17850.0,United Kingdom,NaN
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,2,17850.0,United Kingdom,NaN
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,1,17850.0,United Kingdom,NaN
...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,6,12680.0,France,NaN
541905,3465536,325657,nồi chiên không dầu,1000,23/06/2022,23.00,3,354665.0,Thổ Nhĩ Kỳ,NaN
541906,3465536,325657,nồi chiên không dầu,1000,23/06/2022,23.00,3,354665.0,Thổ Nhĩ Kỳ,NaN
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12,12680.0,France,NaN
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,14,12680.0,France,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Số hóa đơn      541909 non-null  object
 1   mã hàng hóa     541909 non-null  object
 2   mô tả           540455 non-null  object
 3   số lượng        541909 non-null  int64
 4   ngày            541909 non-null  object
 5   đơn giá         541909 non-null  float64
 6   Chiết khấu (%)  541909 non-null  int32
 7   mã KH           406829 non-null  float64
 8   nước            541909 non-null  object
 9   Tiền            0 non-null       float64
dtypes: float64(3), int32(1), int64(1), object(5)
memory usage: 39.3+ MB

# 6. tính tiền theo công thức sau
tiền = số lượng x don giá x chiết khấu

In [30]:
data["Tiền"] = data['số lượng']*data['đơn giá']*(1-data['Chiết khấu (%)']/100)
display(data)

,Số hóa đơn,mã hàng hóa,mô tả,số lượng,ngày,đơn giá,Chiết khấu (%),mã KH,nước,Tiền
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,0,17850.0,United Kingdom,15.3000
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,3,17850.0,United Kingdom,19.7298
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,18,17850.0,United Kingdom,18.0400
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,2,17850.0,United Kingdom,19.9332
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,1,17850.0,United Kingdom,20.1366
...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,6,12680.0,France,9.5880
541905,3465536,325657,nồi chiên không dầu,1000,23/06/2022,23.00,3,354665.0,Thổ Nhĩ Kỳ,22310.0000
541906,3465536,325657,nồi chiên không dầu,1000,23/06/2022,23.00,3,354665.0,Thổ Nhĩ Kỳ,22310.0000
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12,12680.0,France,14.6080
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,14,12680.0,France,12.7710

# lưu dữ liệu ra file
data.to_excel('tenfile.xlsx')

In [33]:
data.to_excel("ketquahomnay.json")
print("xuất file thành công")

ValueError: No engine for filetype: 'json'