# Bài tập số 2 (Pandas)

### Trước khi bắt đầu và sau khi code xong, chọn 'Kernel'->'Restart Kernel and Run All Cells' để có thể chấm điểm chính xác.
### Các bạn viết code vào các cell trả lời.  
### Cell nào cho ra đúng kết quả sẽ có thêm đoạn ===== Done =====

In [52]:
# Không được động vào cell này
from ipywidgets import widgets
from IPython.display import HTML,Javascript, display
from IPython.core.magic import register_cell_magic
from IPython.utils.capture import capture_output
from IPython import get_ipython
from IPython.core import magic_arguments

response = ''
score = [0]*11

def popup(text):
    display(HTML("<script>alert('{}');</script>".format(text)))

def final_score(score):
    final = 'Diem so la: ' +  str(sum(score)) + '/10'
    print(final)
    popup(final)

@magic_arguments.magic_arguments()
@magic_arguments.argument('output', type=str, default='', nargs='?',
    help="""The name of the variable in which to store output.
    This is a utils.io.CapturedIO object with stdout/err attributes
    for the text of the captured output.
    CapturedOutput also has a show() method for displaying the output,
    and __call__ as well, so you can use that to quickly display the
    output.
    If unspecified, captured output is discarded.
    """
)
@magic_arguments.argument('--no-stderr', action="store_true",
    help="""Don't capture stderr."""
)
@magic_arguments.argument('--no-stdout', action="store_true",
    help="""Don't capture stdout."""
)
@magic_arguments.argument('--no-display', action="store_true",
    help="""Don't capture IPython's rich display."""
)    


@register_cell_magic
def tee(line, cell):
    args = magic_arguments.parse_argstring(tee, line)
    out = not args.no_stdout
    err = not args.no_stderr
    disp = not args.no_display
    with capture_output(out, err, disp) as io:
        get_ipython().run_cell(cell)
    if args.output:
        get_ipython().user_ns[args.output] = io
    
    io()

@register_cell_magic('cauhoi')
def cauhoi(line, cell):
        get_ipython().run_cell(cell)
        check[int(line)]()
        
def cau1():
    find = str(response).find('Đã khai báo thư viện thành công')
    if find >=0 :
        score[1] = 1
        print('===== Done =====')
    else:
        score[1] = 0
def cau2():
    find = str(response).find('Đã nhập dữ liệu thành công')
    if find >=0 :
        score[2] = 1
        print('===== Done =====')
    else:
        score[2] = 0
def cau3():
    find = str(response).find('RangeIndex: 325 entries, 0 to 324')
    if find >=0 :
        score[3] = 1
        print('===== Done =====')
    else:
        score[3] = 0
def cau4():
    find1 = str(response).find('325')
    find2 = str(response).find('74')
    if ((find1 >=0) & (find2 >= 0)) :
        score[4] = 1
        print('===== Done =====')
    else:
        score[4] = 0
def cau5():
    find = str(response).find('Nơi sinh       TỔNG\nTổng         910232')
    if find >=0 :
        score[5] = 1
        print('===== Done =====')
    else:
        score[5] = 0
def cau6():
    find1 = str(response).find('      2015   2016   2017   2018\n0      NaN    NaN    NaN    NaN')
    find2 = str(response).find('323  453.0  444.0  333.0  234.0')
    find3 = str(response).find('324  27585.0  31956.0  36450.0  35737.0')
    # print(find1, ' ', find2, ' ', find3)
    if (find1 >=0) & (find2 >=0) & (find3 <0):
        score[6] = 1
        print('===== Done =====')
    else:
        score[6] = 0
def cau7():
    find1 = str(response).find('\n Nơi sinh\nEngland          177913\nIndia             67243\nSouth Africa      61152\nChina             58987\nFiji              51811\nWestern Samoa     45347\nPhilippines       38717\nSamoa             34787\nScotland          25632\nKorea             20993\n')
    find2 = str(response).find('India             4665.0\nEngland           3974.0\nPhilippines       3565.0\nFiji              3242.0\nSouth Africa      2894.0\nSamoa             2871.0\nChina             1210.0\nUnited Kingdom    1191.0\nTonga              684.0\nAustralia          679.0\n')
    find3 = str(response).find('21')
    find4 = str(response).find('20')
    if (find1 >=0) & (find2 >=0) & (find3 >0) & (find3 >0):
        score[7] = 1
        print('===== Done =====')
    else:
        score[7] = 0
def cau8():
    find = str(response).find('\nName: 2020, Length: 325, dtype: int32\n')
    if find >=0 :
        score[8] = 1
        print('===== Done =====')
    else:
        score[8] = 0
def cau9():
    # find = str(response).find('Đã nhập dữ liệu thành công')
    try:
        if (data['Nơi sinh'][324] == 'Zodiac') & (data.loc[324,'1949':].notnull().values.any()) :
            score[9] = 1
            print('===== Done =====')
        else:
            score[9] = 0
    except:
        score[9] = 0
def cau10():
    # find = str(response).find('Đã nhập dữ liệu thành công')
    try:
        if (data['Nơi sinh'][323] == 'Zimbabwe') & (data['Tổng'][323] != 8284.0) & (data['%'][323] != '0.91%') :
            score[10] = 1
            print('===== Done =====')
        else:
            score[10] = 0
    except:
        score[10] = 0
    
check = {1: cau1, 2:cau2, 3: cau3, 4: cau4, 5: cau5, 6: cau6, 7: cau7, 8: cau8, 9: cau9, 10: cau10}

## Câu 1. Khai báo thư viện pandas, numpy. Sau đó xuất ra thông báo: 'Đã khai báo thư viện thành công'

In [53]:
%%cauhoi 1
%%tee response
# Code dưới dòng này
import pandas as pd
import numpy as np
print('Đã khai báo thư viện thành công')

Đã khai báo thư viện thành công
===== Done =====

## Câu 2. Nhập dữ liệu dân số nhập cư 'granted-citizenship-1949-2019.csv', biến tên data. Hiển thị dữ liệu. Sau đó xuất ra thông báo: 'Đã nhập dữ liệu thành công'

In [54]:
%%cauhoi 2
%%tee response
# Code dưới dòng này
data = pd.read_csv('granted-citizenship-1949-2019.csv', header=0, encoding = "ISO-8859-1")

display(data)
print("Đã nhập dữ liệu thành công")

Đã nhập dữ liệu thành công

,Country of Birth,Total,%,1949,1950,1951,1952,1953,1954,1955,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aden,25,0.00%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0
1,Afghanistan,3499,0.38%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,78.0,48.0,136.0,79.0,117.0,103.0,64.0,137.0,305.0,255.0
2,Albania,144,0.02%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,6.0,10.0,1.0,4.0,8.0,2.0,1.0,3.0,2.0
3,Algeria,241,0.03%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,1.0,6.0,5.0,7.0,12.0,5.0,7.0,6.0,4.0
4,American Samoa,862,0.09%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,41.0,36.0,58.0,48.0,44.0,51.0,48.0,40.0,58.0,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,Zaire,25,0.00%,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN
321,Zambia,1423,0.16%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.0,51.0,53.0,77.0,41.0,57.0,56.0,49.0,38.0,48.0
322,Zanzibar,3,0.00%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,Zimbabwe,8284,0.91%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,249.0,619.0,687.0,601.0,546.0,453.0,444.0,333.0,234.0,177.0
324,TOTAL,910232,100.00%,18629.0,230.0,369.0,388.0,390.0,631.0,798.0,...,15178.0,19287.0,27221.0,27895.0,27891.0,27585.0,31956.0,36450.0,35737.0,31030.0

===== Done =====

## Câu 3. Tìm hiểu các thống kê cơ bản về dữ liệu. Xuất ra đánh giá của bạn về dữ liệu này.

In [55]:
%%cauhoi 3
%%tee response
# Code dưới dòng này

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 74 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country of Birth  325 non-null    object
 1   Total             325 non-null    int64
 2   %                 325 non-null    object
 3   1949              118 non-null    float64
 4   1950              40 non-null     float64
 5   1951              48 non-null     float64
 6   1952              46 non-null     float64
 7   1953              51 non-null     float64
 8   1954              60 non-null     float64
 9   1955              62 non-null     float64
 10  1956              66 non-null     float64
 11  1957              68 non-null     float64
 12  1958              65 non-null     float64
 13  1959              74 non-null     float64
 14  1960              81 non-null     float64
 15  1961              73 non-null     float64
 16  1962              71 non-null     float64
 17  1963              70 non-null     float64
 18  1964              73 non-null     float64
 19  1965              80 non-null     float64
 20  1966              75 non-null     float64
 21  1967              92 non-null     float64
 22  1968              93 non-null     float64
 23  1969              98 non-null     float64
 24  1970              85 non-null     float64
 25  1971              83 non-null     float64
 26  1972              99 non-null     float64
 27  1973              107 non-null    float64
 28  1974              98 non-null     float64
 29  1975              114 non-null    float64
 30  1976              114 non-null    float64
 31  1977              136 non-null    float64
 32  1978              154 non-null    float64
 33  1979              144 non-null    float64
 34  1980              143 non-null    float64
 35  1981              147 non-null    float64
 36  1982              147 non-null    float64
 37  1983              125 non-null    float64
 38  1984              135 non-null    float64
 39  1985              130 non-null    float64
 40  1986              126 non-null    float64
 41  1987              143 non-null    float64
 42  1988              145 non-null    float64
 43  1989              144 non-null    float64
 44  1990              152 non-null    float64
 45  1991              147 non-null    float64
 46  1992              141 non-null    float64
 47  1993              155 non-null    float64
 48  1994              148 non-null    float64
 49  1995              152 non-null    float64
 50  1996              154 non-null    float64
 51  1997              164 non-null    float64
 52  1998              165 non-null    float64
 53  1999              184 non-null    float64
 54  2000              190 non-null    float64
 55  2001              184 non-null    float64
 56  2002              179 non-null    float64
 57  2003              182 non-null    float64
 58  2004              192 non-null    float64
 59  2005              171 non-null    float64
 60  2006              185 non-null    float64
 61  2007              192 non-null    float64
 62  2008              191 non-null    float64
 63  2009              187 non-null    float64
 64  2010              166 non-null    float64
 65  2011              186 non-null    float64
 66  2012              204 non-null    float64
 67  2013              197 non-null    float64
 68  2014              201 non-null    float64
 69  2015              197 non-null    float64
 70  2016              203 non-null    float64
 71  2017              204 non-null    float64
 72  2018              204 non-null    float64
 73  2019              196 non-null    float64
dtypes: float64(71), int64(1), object(2)
memory usage: 188.0+ KB
===== Done =====

## Câu 4. Xuất ra số dòng và số cột của dữ liệu.

**Gợi ý:**

In [56]:
# nhớ dùng print(...) để chương trình có thể chấm điểm

In [57]:
%%cauhoi 4
%%tee response
# Code dưới dòng này

print(data.shape) 

print(data.shape[0])

print(data.shape[1])

(325, 74)
325
74
===== Done =====

## Câu 5. Việt hóa một số từ "Country of Birth" -> "Nơi sinh", "Total" -> "Tổng", "TOTAL" -> "TỔNG". Hiển thị bảng. 
## Truy xuất dòng 'TỔNG' dùng .loc[...].

**Gợi ý:**

In [58]:
# Nhớ dùng hàm print() để chương trình tính được điểm

In [59]:
%%cauhoi 5
%%tee response
# Code dưới dòng này
data.rename(columns={"Country of Birth" : "Nơi sinh","Total" : "TỔNG"},inplace=True)
print(data)

print(data.loc[:,'TỔNG'])

           Nơi sinh    TỔNG        %     1949   1950   1951   1952   1953  \
0              Aden      25    0.00%      NaN    NaN    NaN    NaN    NaN
1       Afghanistan    3499    0.38%      NaN    NaN    NaN    NaN    NaN
2           Albania     144    0.02%      NaN    NaN    NaN    NaN    NaN
3           Algeria     241    0.03%      NaN    NaN    NaN    NaN    NaN
4    American Samoa     862    0.09%      NaN    NaN    NaN    NaN    NaN
..              ...     ...      ...      ...    ...    ...    ...    ...
320           Zaire      25    0.00%      1.0    NaN    NaN    NaN    NaN
321          Zambia    1423    0.16%      NaN    NaN    NaN    NaN    NaN
322        Zanzibar       3    0.00%      NaN    NaN    NaN    NaN    NaN
323        Zimbabwe    8284    0.91%      NaN    NaN    NaN    NaN    NaN
324           TOTAL  910232  100.00%  18629.0  230.0  369.0  388.0  390.0

      1954   1955  ...     2010     2011     2012     2013     2014     2015  \
0      NaN    NaN  ...      NaN      1.0      1.0      1.0      NaN      NaN
1      NaN    NaN  ...     78.0     48.0    136.0     79.0    117.0    103.0
2      NaN    NaN  ...      3.0      6.0     10.0      1.0      4.0      8.0
3      NaN    NaN  ...      2.0      1.0      6.0      5.0      7.0     12.0
4      NaN    NaN  ...     41.0     36.0     58.0     48.0     44.0     51.0
..     ...    ...  ...      ...      ...      ...      ...      ...      ...
320    NaN    NaN  ...      NaN      NaN      NaN      1.0      NaN      NaN
321    NaN    NaN  ...     34.0     51.0     53.0     77.0     41.0     57.0
322    NaN    NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN
323    NaN    NaN  ...    249.0    619.0    687.0    601.0    546.0    453.0
324  631.0  798.0  ...  15178.0  19287.0  27221.0  27895.0  27891.0  27585.0

        2016     2017     2018     2019
0        NaN      NaN      NaN      1.0
1       64.0    137.0    305.0    255.0
2        2.0      1.0      3.0      2.0
3        5.0      7.0      6.0      4.0
4       48.0     40.0     58.0     45.0
..       ...      ...      ...      ...
320      NaN      1.0      1.0      NaN
321     56.0     49.0     38.0     48.0
322      NaN      NaN      NaN      NaN
323    444.0    333.0    234.0    177.0
324  31956.0  36450.0  35737.0  31030.0

[325 rows x 74 columns]
0          25
1        3499
2         144
3         241
4         862
        ...
320        25
321      1423
322         3
323      8284
324    910232
Name: TỔNG, Length: 325, dtype: int64

## Câu 6. Hiển thị (print) số lượng nhập cư các nước từ năm 2015 đến 2018 dùng hàm .loc[...]

**Gợi ý:**

In [60]:
#Không chứa hàng cuối

In [61]:
%%cauhoi 6
%%tee response
# Code dưới dòng này

print(data[data['Nơi sinh']].loc[:,'2015':'2018'])

KeyError: "None of [Index(['Aden', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Angola',\n       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Argentine',\n       ...\n       'Wallis and Futuna Islands', 'West Germany', 'Western Samoa', 'Yemen',\n       'Yugoslavia', 'Zaire', 'Zambia', 'Zanzibar', 'Zimbabwe', 'TOTAL'],\n      dtype='object', length=325)] are in the [columns]"

## Câu 7. a) Xuất ra 10 nước có lượng người nhập cư vào New Zealand cao nhất chỉ tính riêng năm 2017 và b) trong toàn bộ lịch sử theo dõi. c) Nếu chỉ xét năm 2017, Việt Nam có bao nhiêu người nhập cư thành công và xếp thứ mấy trên bảng xếp hạng? d) Câu hỏi tương tự nếu xét toàn bộ lịch sử theo dõi.

**Gợi ý:**

In [62]:
# a) Dùng lệnh df.groupby('Cột 1')['Cột 2'].sum().sort_values(ascending=False) để tạo ra 1 DataFrame (hoặc Series) mới có cột index là nội dung của 'Tên cột 1', nội dung là 'nội dung' của 'Cột 2'
# b) 'Cột 2' là '2017'
# Chú ý: "TỔNG" không phải là nước

In [63]:
%%cauhoi 7
%%tee response
# Code dưới dòng này
# a) Xuất ra 10 nước có lượng người nhập cư vào New Zealand cao nhất chỉ tính riêng năm 2017  

# sort_values(by='ext price', ascending=True) lệnh sắp xếp dữ liệu theo cột 'ext price' theo thứ tự tăng dần (ascending=True), nếu giảm dần thì (ascending=False)
data2 = data.groupby('Nơi sinh',group_keys=False).agg({'2017': 'sum'}).sort_values(by='2017', ascending=True)
print(data2)

data3 = data.groupby('Nơi sinh',group_keys=False).agg({'TỔNG': 'sum'}).sort_values(by='TỔNG', ascending=True)
print(data3)

                2017
Nơi sinh
Aden             0.0
Mauritania       0.0
Micronesia       0.0
Montenegro       0.0
Montserrat       0.0
...              ...
Fiji          3242.0
Philippines   3565.0
England       3974.0
India         4665.0
TOTAL        36450.0

[325 rows x 1 columns]
                                       TỔNG
Nơi sinh
Bechuanaland Protectorate                 1
Rurutu                                    1
Upper Volta                               1
Burkina Faso                              1
French Territory of Afars and Issas       1
...                                     ...
China                                 58987
South Africa                          61152
India                                 67243
England                              177913
TOTAL                                910232

[325 rows x 1 columns]

## Câu 8. Thêm dữ liệu năm 2020 vào cuối bảng. Giá trị điền vào là số nguyên ngẫu nhiên từ 0 cho đến 300. Hiển thị bảng. Truy xuất cột năm 2020 dùng hàm .loc[...]. Bạn có thấy vấn đề của bảng mới này ở đâu không?

**Gợi ý:**

In [64]:
# dùng hàm np.random.randint(low, high, size, dtype=int) trong đó low là số thấp nhất, high là số cao nhất, size là số lượng
# nhớ dùng print(...) để chương trình có thể chấm điểm

In [65]:
%%cauhoi 8
%%tee response
# Code dưới dòng này

data['2020']= np.random.randint(0,600,size=(data.shape[0],1))
print(data)

           Nơi sinh    TỔNG        %     1949   1950   1951   1952   1953  \
0              Aden      25    0.00%      NaN    NaN    NaN    NaN    NaN
1       Afghanistan    3499    0.38%      NaN    NaN    NaN    NaN    NaN
2           Albania     144    0.02%      NaN    NaN    NaN    NaN    NaN
3           Algeria     241    0.03%      NaN    NaN    NaN    NaN    NaN
4    American Samoa     862    0.09%      NaN    NaN    NaN    NaN    NaN
..              ...     ...      ...      ...    ...    ...    ...    ...
320           Zaire      25    0.00%      1.0    NaN    NaN    NaN    NaN
321          Zambia    1423    0.16%      NaN    NaN    NaN    NaN    NaN
322        Zanzibar       3    0.00%      NaN    NaN    NaN    NaN    NaN
323        Zimbabwe    8284    0.91%      NaN    NaN    NaN    NaN    NaN
324           TOTAL  910232  100.00%  18629.0  230.0  369.0  388.0  390.0

      1954   1955  ...     2011     2012     2013     2014     2015     2016  \
0      NaN    NaN  ...      1.0      1.0      1.0      NaN      NaN      NaN
1      NaN    NaN  ...     48.0    136.0     79.0    117.0    103.0     64.0
2      NaN    NaN  ...      6.0     10.0      1.0      4.0      8.0      2.0
3      NaN    NaN  ...      1.0      6.0      5.0      7.0     12.0      5.0
4      NaN    NaN  ...     36.0     58.0     48.0     44.0     51.0     48.0
..     ...    ...  ...      ...      ...      ...      ...      ...      ...
320    NaN    NaN  ...      NaN      NaN      1.0      NaN      NaN      NaN
321    NaN    NaN  ...     51.0     53.0     77.0     41.0     57.0     56.0
322    NaN    NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN
323    NaN    NaN  ...    619.0    687.0    601.0    546.0    453.0    444.0
324  631.0  798.0  ...  19287.0  27221.0  27895.0  27891.0  27585.0  31956.0

        2017     2018     2019  2020
0        NaN      NaN      1.0   374
1      137.0    305.0    255.0   201
2        1.0      3.0      2.0   126
3        7.0      6.0      4.0   134
4       40.0     58.0     45.0   516
..       ...      ...      ...   ...
320      1.0      1.0      NaN   352
321     49.0     38.0     48.0   472
322      NaN      NaN      NaN   169
323    333.0    234.0    177.0   305
324  36450.0  35737.0  31030.0   265

[325 rows x 75 columns]

## Câu 9. Thêm nước Zodiac vào sau nước Zimbabwe. Giá trị điền vào là số ngẫu nhiên từ 0 cho đến 600. Hiển thị bảng. Bạn có thấy vấn đề của bảng mới này ở đâu không?

In [66]:
%%cauhoi 9
%%tee response
# Code dưới dòng này

data.loc[data.shape[0]]= ['Zodiac',np.random.randint(0,600,size=(data.shape[0],1))]

data.loc[data.shape[0]]= ['Zimbabwe',np.random.randint(0,600,size=(data.shape[0],1))]

print(data)

ValueError: cannot set a row with mismatched columns

## Câu 10. Hãy tính toán lại các cột 'Tổng', '%', và hàng 'TỔNG' sao cho đúng. Hiển thị bảng.
## Thực hiện các phép tính tương tự như câu 7, hãy đánh giá xem các số liệu được thêm vào ảnh hưởng thế nào tới kết quả.

**Gợi ý:**

In [67]:
# dùng dữ-liệu.sum(axis=0 hoặc 1) để tính tổng, trong đó 0 hoặc 1 là hướng tính tổng theo chiều dọc hoặc chiều ngang
# Chuyển đổi float sang số% và ngược lại, tham khảo https://levelup.gitconnected.com/convert-percentage-string-to-numeric-and-vice-versa-in-pandas-18a3d66e2853

In [68]:
%%cauhoi 10
%%tee response
# Code dưới dòng này

# Tính điểm