In [1]:
#nhập thư viên pandas
import pandas as pd
import numpy as np
print("khai báo thư viên thành công")

khai báo thư viên thành công

In [3]:
#tạo 1 frame rỗng
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [6]:
#tạo dataframe từ list:
#khai báo list
lst = ['kế toán','kinh doanh','tiếp thị']
df = pd.DataFrame(lst)
df

            0
0     kế toán
1  kinh doanh
2    tiếp thị

In [9]:
#tạo dataframe từ tuple:
#khai báo list
tuples = [('Kế toán', 2000),( 'Kinh doanh', 2100), ('Tiếp thị', 1900)]
df = pd.DataFrame(tuples, columns=['Nghề','Lương'])
df

         Nghề  Lương
0     Kế toán   2000
1  Kinh doanh   2100
2    Tiếp thị   1900

In [10]:
#Tạo DataFrame từ Dictionary
dic = {'Nghề':['Kế toán','Kinh doanh','Tiếp thị'],
       'Lương':[2000, 2100, 1900]}

df = pd.DataFrame(dic)
df

         Nghề  Lương
0     Kế toán   2000
1  Kinh doanh   2100
2    Tiếp thị   1900