## Đọc bộ dữ liệu, cho biết số dòng, số cột và kiểu dữ liệu của các thuộc tính.

In [2]:
import pandas as pd
import numpy as np
print('khai báo thư viện thành công')

khai báo thư viện thành công

In [4]:
#Đọc bộ dữ liệu, cho biết số dòng, số cột và kiểu dữ liệu của các thuộc tính.
data = pd.read_csv('GDPlist.csv', header=0, encoding = "ISO-8859-1")

data.info()

print('số dòng', data.shape[0])
print('số cột',data.shape[1])
display(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB
số dòng 125
số cột 3

          Country      Continent  GDP (millions of US$)
0     Afghanistan           Asia                  18181
1         Albania         Europe                  12847
2         Algeria         Africa                 190709
3          Angola         Africa                 100948
4       Argentina  South America                 447644
..            ...            ...                    ...
120    Uzbekistan           Asia                  45353
121     Venezuela  South America                 315841
122       Vietnam           Asia                 122722
123         Yemen         Africa                  33675
124        Zambia         Africa                  19206

[125 rows x 3 columns]

## Tính giá trị lớn nhất và nhỏ nhất của GDP.

In [9]:
print(data.loc[:,'GDP (millions of US$)'].max())
print(data.loc[:,'GDP (millions of US$)'].min())

15094025
10600

## Hãy cho biết xu hướng phân bố dữ liệu của GDP.

In [18]:
print(data.loc[:,'GDP (millions of US$)'].mode())
print(data.loc[:,'GDP (millions of US$)'].mean())
print(data.loc[:,'GDP (millions of US$)'].median())

0         10600
1         11313
2         12461
3         12655
4         12827
         ...
120     2776324
121     3577031
122     5869471
123     7298147
124    15094025
Name: GDP (millions of US$), Length: 125, dtype: int64
555427.784
96089.0

## Hãy cho biết châu lục nào xuất hiện nhiều nhất?

In [22]:
data.loc[:,'Continent'].count()
data.loc[:,'Continent'].max()

'South America'

## Với mỗi châu lục hãy tính tổng GDP; trung bình cộng GDP. Hợp nhất 2 bảng này thành một bảng duy nhất gồm 3 thông tin: Tên châu lục; Tổng GDP; TBC GDP.

In [19]:
data.loc[:,describe()

       GDP (millions of US$)
count           1.250000e+02
mean            5.554278e+05
std             1.649266e+06
min             1.060000e+04
25%             2.574200e+04
50%             9.608900e+04
75%             3.332380e+05
max             1.509402e+07

In [35]:
data1 = data.pivot_table(values='GDP (millions of US$)',index='Continent',aggfunc ='sum')
data1.rename(columns={'GDP (millions of US$)':'Tổng GDP'},inplace=True)
data1

               Tổng GDP
Continent
Africa          1820811
Asia           24425891
Europe         19139380
North America  18238447
Oceania         1662727
South America   4141217

In [37]:
data2 = data.pivot_table(values='GDP (millions of US$)',index='Continent',aggfunc ='mean')
data2.rename(columns={'GDP (millions of US$)':'TBC GDP'},inplace=True)
data2

                    TBC GDP
Continent
Africa         6.278659e+04
Asia           6.784970e+05
Europe         5.172805e+05
North America  1.658041e+06
Oceania        5.542423e+05
South America  4.601352e+05

In [39]:
data3=pd.concat([data1,data2], axis=1)
data3

               Tổng GDP       TBC GDP
Continent
Africa          1820811  6.278659e+04
Asia           24425891  6.784970e+05
Europe         19139380  5.172805e+05
North America  18238447  1.658041e+06
Oceania         1662727  5.542423e+05
South America   4141217  4.601352e+05