# Slide 3: Thao tác với dữ liệu

## Khai báo thư viện

In [ ]:
import pandas as pd
import numpy as np
print('Khai bao thanh cong')

## Nhập dữ liệu

In [67]:
data = pd.read_csv('shopeep_koreantop_clothing_shop_data.csv', header=0, encoding = "ISO-8859-1")
print('*'*20, "Nhập dữ liệu thành công", '*'*20)
display(data)
data.info()

******************** Nhập dữ liệu thành công ********************

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,20210706449182992,2021-07-06,449182992,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay",0,32,0,5.00,0,0
742,20210706396605392,2021-07-06,396605392,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN,1,9,0,4.60,0,0
743,20210706360379308,2021-07-06,360379308,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN,16,463,16,4.75,1,0
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0
745,2021070625811092,2021-07-06,25811092,angelcity.ð,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   pk_shop             746 non-null    int64
 1   date_collected      746 non-null    object
 2   shopid              746 non-null    int64
 3   name                746 non-null    object
 4   join_month          746 non-null    object
 5   join_day            746 non-null    int64
 6   join_year           746 non-null    int64
 7   item_count          746 non-null    int64
 8   follower_count      746 non-null    int64
 9   response_time       746 non-null    object
 10  response_rate       746 non-null    int64
 11  shop_location       428 non-null    object
 12  rating_bad          746 non-null    int64
 13  rating_good         746 non-null    int64
 14  rating_normal       746 non-null    int64
 15  rating_star         740 non-null    float64
 16  is_shopee_verified  746 non-null    int64
 17  is_official_shop    746 non-null    int64
dtypes: float64(1), int64(12), object(5)
memory usage: 105.0+ KB

## 1. Lọc dữ liệu

**Quy mô dữ liệu của doanh nghiệp ngày càng tăng do xu hướng số hóa doanh nghiệp:**  
- **làm gia tăng quy mô dữ liệu** 
- **sự thiếu nhất quán**  
- **nhiều thông tin nhiễu**  
**-> Lọc dữ liệu trả về bộ dữ liệu phù hợp với nhu cầu người dùng.**

### 1.1 Lọc sử dụng .loc[], .iloc[]

<font color='red' size="5" >**df.loc[thông tin hàng, thông tin cột]**</font>

**Ví dụ 1: Lọc lấy cột 'name'**

In [ ]:
data.loc[:,'name']

**Ví dụ 2: Lọc lấy cột 'name' và 'shop_location'**

In [ ]:
data.loc[:,['name','shop_location']] #Danh sách (list) các cột đơn lẻ thì phải để trong [...]

In [ ]:
data.filter(['name','shop_location'])[:]

**Ví dụ 3: Lọc lấy cột từ 'name' tới 'shop_location'**

In [ ]:
data.loc[:,'name':'shop_location']

In [ ]:
data.filter(['name':'shop_location'])[:] # Filter() không dùng được slice xx:yy

**Ví dụ 4: Lọc lấy hàng có index = 222**

In [ ]:
data.loc[222,:]

In [ ]:
data.filter([:])[222] #Không được

**Ví dụ 5: Lọc lấy hàng có index = 222, 444 và 666**

In [ ]:
data.loc[[222, 444, 666],:] #Danh sách các hàng đơn lẻ thì phải để trong [...]

**Ví dụ 6: Lọc lấy hàng có index từ 100 tới 200**

In [ ]:
data.loc[100:200,:]

**Ví dụ 7: Lọc lấy bảng có index từ 300 tới 400 chỉ chứa cột từ 'rating_bad' tới 'rating_star'**

In [ ]:
data.loc[300:400,'rating_bad':'rating_star']

### 1.2 Lọc bằng hàm filter()

<font color='red' size="5" >**df.filter([‘Tên_cột_1', …,‘Tên_cột_n']) [chỉ_số_dòng_đầu : chỉ_số_dòng_cuối]**</font>  
**Chủ yếu là để lọc lấy cột**

**Ví dụ 1: Lọc lấy cột 'name'**

In [ ]:
data.filter(['name'])[:]

### 1.3 Lọc sử dụng điều kiện

**Lọc theo điều kiện đơn**  
<font color='red' size="5" >**df[df[‘Tên_cột’] PTSS giá_trị]**</font>  
**Trong đó phép toán so sánh PTSS sử dụng các phép toán so sánh gồm: ==, <, <=, >, >=, !=**  
**(giá_trị cần so sánh được để trong cặp dấu nháy đơn nếu có kiểu chuỗi ký tự)**

**Ví dụ 1: Lọc lấy dữ liệu có tháng tham gia là tháng 6**

In [ ]:
data[data['join_month']=='June']

**Ví dụ 2: Lọc lấy dữ liệu có trên 500 đánh giá tốt**

In [ ]:
data[data['rating_good']>=500]

**Ví dụ 3: Lọc lấy tên các shop và địa chỉ có trên 1000 đánh giá tốt**

In [ ]:
data[data['rating_good'] > 1000].loc[:,['name','shop_location','rating_good']]

In [ ]:
data[data['rating_good'] > 1000].filter(['name','shop_location','rating_good'])

**Lọc theo điều kiện phức**  
<font color='red' size="5" >**df[(df[‘Tên_cột_1’] PTSS giá_trị) PTLG (df[‘Tên_cột_n’] PTSS giá_trị_n)]**</font>  
<font color='red' size="5" >**df[(so sánh 1) PTLG (so sanh 2)]**</font>
**Các điều kiện được nối với nhau bởi phép toán logic PTLG gồm: & (và), | (hoặc), ~ (phủ định)**

**Ví dụ 4: Lọc lấy tên các shop và địa chỉ có trên 1000 đánh giá tốt và trung bình đánh giá trên 4 sao**

In [ ]:
data[(data['rating_good'] > 1000) & (data['rating_star'] > 4)].filter(['name','shop_location','rating_good','rating_star'])

**Ví dụ 5: Lọc lấy các dữ liệu của các shop có trên 5 năm tồn tại, được shoppe verify, và không có quá 200 đánh giá xấu**

In [ ]:
data[(data['join_year']<=2017) & (data['is_shopee_verified'] == 1) & (data['rating_bad']<200)].filter(['name'])

**Ví dụ 6: Lọc lấy các dữ liệu của các shop có địa chỉ ở Manila**  
xxx.str.contains('string')==True

In [ ]:
data[data['shop_location'].str.contains('Manila')==True]

**Ví dụ 7: Tên cột có chứa dấu cách.**  
**shop_location -> shop location**

### 1.4 Lọc bằng hàm query()

**Phương thức truy vấn query giúp câu lệnh truy vấn chạy nhanh hơn**  
**Các điều kiện được nối với nhau bởi các phép toán logic như: and (và), or (hoặc), not (phủ định) và được để trong một cặp dấu nháy kép.**  
<font color='red' size="5" >**df.query("(Tên_cột_1 PTSS giá_trị_1) PTLG (Tên_cột_n PTSS giá_trị_n)")**</font>  
<font color='red' size="5" >**df.query("(so sanh 1) PTLG (so sanh 2)")**</font>

**Ví dụ 1: Lọc lấy tên các shop và địa chỉ có trên 1000 đánh giá tốt và trung bình đánh giá trên 4 sao**

In [ ]:
data[(data['rating_good'] > 1000) & (data['rating_star'] > 4)].filter(['name','shop_location','rating_good','rating_star'])

In [60]:
data.query("(rating_good > 1000) and (rating_star > 4)").filter(['name','shop_location', 'rating_good','rating_star'])

,name,shop_location,rating_good,rating_star
0,hello.may.ph,NaN,17510,4.81
1,love.women.shop,"San Nicolas,Metro Manila",2656,4.68
2,R&O RedOrange,"Pasay City,Metro Manila",1071829,4.91
3,patriciacai,"Binondo,Metro Manila",18959,4.94
4,Little Market Manila,"Caloocan City,Metro Manila",39252,4.73
...,...,...,...,...
738,Fall in love with you,NaN,1092,4.75
739,Yzkzks.ph,"Pasay City,Metro Manila",55669,4.89
740,Adol Janet,"Binondo,Metro Manila",297528,4.84
744,Clairecvc Shop,"Binondo,Metro Manila",103289,4.78
745,angelcity.ð,"Pasay City,Metro Manila",708666,4.77

**Ví dụ 2: Lọc lấy các dữ liệu của các shop có từ 5 năm tồn tại, được shoppe verify, và không có quá 200 đánh giá xấu**

In [ ]:
data.query("() and () and ()").filter(['name'])

In [66]:
data.query("(join_year <= 2017) and (is_shopee_verified == 1) and (rating_bad <200)").filter(['name','shop_location'])

            name               shop_location
3    patriciacai        Binondo,Metro Manila
54   ELfille 2.0  Marikina City,Metro Manila
178  patriciacai        Binondo,Metro Manila
516  patriciacai        Binondo,Metro Manila

**Ví dụ 3: Lọc lấy các dữ liệu của các shop có địa chỉ ở Manila**  
xxx.str.contains('string')==True

In [74]:
data.rename(columns= {'shop_location':'shop location'}, inplace=True)
data

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,20210706449182992,2021-07-06,449182992,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay",0,32,0,5.00,0,0
742,20210706396605392,2021-07-06,396605392,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN,1,9,0,4.60,0,0
743,20210706360379308,2021-07-06,360379308,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN,16,463,16,4.75,1,0
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0
745,2021070625811092,2021-07-06,25811092,angelcity.ð,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0

In [77]:
data.query("`shop location`.str.contains('Manila')==True") #Dùng dấu `...` cho tên cột có chứa ký tự đặc biệt

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0
8,20210613312874722,2021-06-13,312874722,Shopping Center boutique,September,22,2020,286,110539,10:14:49,76,"San Nicolas,Metro Manila",679,28651,2027,4.70,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
734,2021070650114777,2021-07-06,50114777,BCUA Lingerie Bra and Panty,December,28,2017,534,113865,11:16:00,55,"Pasay City,Metro Manila",6389,325315,14994,4.77,0,0
739,2021070664360491,2021-07-06,64360491,Yzkzks.ph,April,9,2018,650,80591,10:41:36,92,"Pasay City,Metro Manila",385,55669,1161,4.89,0,0
740,2021070616590993,2021-07-06,16590993,Adol Janet,February,14,2017,473,513469,12:55:27,78,"Binondo,Metro Manila",2506,297528,9597,4.84,0,0
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0
745,2021070625811092,2021-07-06,25811092,angelcity.ð,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0

## 2. Gom nhóm dữ liệu

**Nhóm – groupby là một hình thức tổng hợp dữ liệu theo chiến lược tách-áp dụng-kết hợp. Đầu tiên dữ liệu được chia thành các nhóm giống nhau rồi áp dụng các phép toán tổng hợp như mean, min, max, count, sum… trên mỗi nhóm và kết hợp các kết quả từ mỗi nhóm.** 
<font color='red' size="5" >**df.groupby(‘Thuộc tính cần phân nhóm’)[‘Thuộc tính cần tính giá trị’].phép toán()**</font>

**Ví dụ 1: Lập bảng số lượng sản phẩm theo tên của shop**

In [79]:
data.groupby('name')['item_count'].sum()

name
 Youku Shangyi fashion store       771
 Zanzea Women's Apparel           1567
(MEILUN)Men's Fashion              128
1989minishop                       242
5ngyzt5ebj                         199
                                  ...
zhufeng2.ph                        437
â­ï¸Pink Star Korea Fashion      382
å°é¾ä¸åââæ¥ç¨ç¾è´§     118
ð¿ Peppermint Shop              4206
ðTrendy girlð                 99
Name: item_count, Length: 391, dtype: int64

**Ví dụ 2: Lập bảng tính tổng số lượng đánh giá của shop**  
<font color='red' size="5" >**df.groupby(‘Thuộc tính cần phân nhóm’)[‘Thuộc tính cần tính giá trị’].phép toán()**</font>

In [80]:
data.groupby('name')['rating_bad','rating_good','rating_normal'].sum()

C:\Users\Hamilton\AppData\Local\Temp\ipykernel_10596\4156264070.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data.groupby('name')['rating_bad','rating_good','rating_normal'].sum()

                                rating_bad  rating_good  rating_normal
name
 Youku Shangyi fashion store             0           22              1
 Zanzea Women's Apparel                 14          505             15
(MEILUN)Men's Fashion                    5           81              9
1989minishop                           569        39376           1934
5ngyzt5ebj                             264        10800            530
...                                    ...          ...            ...
zhufeng2.ph                             14         1375             67
â­ï¸Pink Star Korea Fashion          144        16561            457
å°é¾ä¸åââæ¥ç¨ç¾è´§           0            2              0
ð¿ Peppermint Shop                    71         6026            185
ðTrendy girlð                      0           96              0

[391 rows x 3 columns]

**Ví dụ 3: Xuất ra số lượng các shop thành lập theo năm**  
<font color='red' size="5" >**df.groupby(‘Thuộc tính cần phân nhóm’)[‘Thuộc tính cần tính giá trị’].phép toán()**</font>

In [81]:
data.groupby('join_year')['shopid'].count()

join_year
2015      4
2016     27
2017    156
2018     87
2019    106
2020    247
2021    119
Name: shopid, dtype: int64

In [83]:
data.groupby('join_year')['pk_shop'].count()

join_year
2015      4
2016     27
2017    156
2018     87
2019    106
2020    247
2021    119
Name: pk_shop, dtype: int64

## 3. Sinh dữ liệu từ các cột đã có