# Slide 3: Thao tác với dữ liệu

## Khai báo thư viện

In [2]:
import pandas as pd
import numpy as np
print('Khai bao thanh cong')

Khai bao thanh cong

## Nhập dữ liệu

In [3]:
data = pd.read_csv('shopeep_koreantop_clothing_shop_data.csv', header=0, encoding = "ISO-8859-1")
print('*'*20, "Nhập dữ liệu thành công", '*'*20)
display(data)
data.info()

******************** Nhập dữ liệu thành công ********************

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,20210706449182992,2021-07-06,449182992,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay",0,32,0,5.00,0,0
742,20210706396605392,2021-07-06,396605392,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN,1,9,0,4.60,0,0
743,20210706360379308,2021-07-06,360379308,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN,16,463,16,4.75,1,0
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0
745,2021070625811092,2021-07-06,25811092,angelcity.ð,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   pk_shop             746 non-null    int64
 1   date_collected      746 non-null    object
 2   shopid              746 non-null    int64
 3   name                746 non-null    object
 4   join_month          746 non-null    object
 5   join_day            746 non-null    int64
 6   join_year           746 non-null    int64
 7   item_count          746 non-null    int64
 8   follower_count      746 non-null    int64
 9   response_time       746 non-null    object
 10  response_rate       746 non-null    int64
 11  shop_location       428 non-null    object
 12  rating_bad          746 non-null    int64
 13  rating_good         746 non-null    int64
 14  rating_normal       746 non-null    int64
 15  rating_star         740 non-null    float64
 16  is_shopee_verified  746 non-null    int64
 17  is_official_shop    746 non-null    int64
dtypes: float64(1), int64(12), object(5)
memory usage: 105.0+ KB

## 1. Lọc dữ liệu

**Quy mô dữ liệu của doanh nghiệp ngày càng tăng do xu hướng số hóa doanh nghiệp:**  
- **làm gia tăng quy mô dữ liệu** 
- **sự thiếu nhất quán**  
- **nhiều thông tin nhiễu**  
**-> Lọc dữ liệu trả về bộ dữ liệu phù hợp với nhu cầu người dùng.**

### 1.1 Lọc sử dụng .loc[], .iloc[]

<font color='red' size="5" >**df.loc[thông tin hàng, thông tin cột]**</font>

**Ví dụ 1: Lọc lấy cột 'name'**

In [4]:
data.loc[:,'name']

0              hello.may.ph
1           love.women.shop
2             R&O RedOrange
3               patriciacai
4      Little Market Manila
               ...
741       Yacent_thrift_Clo
742             Akistore.ph
743            Yzanice Shop
744          Clairecvc Shop
745          angelcity.ð
Name: name, Length: 746, dtype: object

**Ví dụ 2: Lọc lấy cột 'name' và 'shop_location'**

In [5]:
data.loc[:,['name','shop_location']] #Danh sách (list) các cột đơn lẻ thì phải để trong [...]

                     name               shop_location
0            hello.may.ph                         NaN
1         love.women.shop    San Nicolas,Metro Manila
2           R&O RedOrange     Pasay City,Metro Manila
3             patriciacai        Binondo,Metro Manila
4    Little Market Manila  Caloocan City,Metro Manila
..                    ...                         ...
741     Yacent_thrift_Clo          Legazpi City,Albay
742           Akistore.ph                         NaN
743          Yzanice Shop                         NaN
744        Clairecvc Shop        Binondo,Metro Manila
745        angelcity.ð     Pasay City,Metro Manila

[746 rows x 2 columns]

In [6]:
data.filter(['name','shop_location'])[:]

                     name               shop_location
0            hello.may.ph                         NaN
1         love.women.shop    San Nicolas,Metro Manila
2           R&O RedOrange     Pasay City,Metro Manila
3             patriciacai        Binondo,Metro Manila
4    Little Market Manila  Caloocan City,Metro Manila
..                    ...                         ...
741     Yacent_thrift_Clo          Legazpi City,Albay
742           Akistore.ph                         NaN
743          Yzanice Shop                         NaN
744        Clairecvc Shop        Binondo,Metro Manila
745        angelcity.ð     Pasay City,Metro Manila

[746 rows x 2 columns]

**Ví dụ 3: Lọc lấy cột từ 'name' tới 'shop_location'**

In [7]:
data.loc[:,'name':'shop_location']

,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location
0,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN
1,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila"
2,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila"
3,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila"
4,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila"
...,...,...,...,...,...,...,...,...,...
741,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay"
742,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN
743,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN
744,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila"
745,angelcity.ð,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila"

In [8]:
data.filter(['name':'shop_location'])[:] # Filter() không dùng được slice xx:yy

SyntaxError: invalid syntax (1929073759.py, line 1)

**Ví dụ 4: Lọc lấy hàng có index = 222**

In [ ]:
data.loc[222,:]

In [ ]:
data.filter([:])[222] #Không được

**Ví dụ 5: Lọc lấy hàng có index = 222, 444 và 666**

In [ ]:
data.loc[[222, 444, 666],:] #Danh sách các hàng đơn lẻ thì phải để trong [...]

**Ví dụ 6: Lọc lấy hàng có index từ 100 tới 200**

In [ ]:
data.loc[100:200,:]

**Ví dụ 7: Lọc lấy bảng có index từ 300 tới 400 chỉ chứa cột từ 'rating_bad' tới 'rating_star'**

In [ ]:
data.loc[300:400,'rating_bad':'rating_star']

### 1.2 Lọc bằng hàm filter()

<font color='red' size="5" >**df.filter([‘Tên_cột_1', …,‘Tên_cột_n']) [chỉ_số_dòng_đầu : chỉ_số_dòng_cuối]**</font>  
**Chủ yếu là để lọc lấy cột**

**Ví dụ 1: Lọc lấy cột 'name'**

In [ ]:
data.filter(['name'])[:]

### 1.3 Lọc sử dụng điều kiện

**Lọc theo điều kiện đơn**  
<font color='red' size="5" >**df[df[‘Tên_cột’] PTSS giá_trị]**</font>  
**Trong đó phép toán so sánh PTSS sử dụng các phép toán so sánh gồm: ==, <, <=, >, >=, !=**  
**(giá_trị cần so sánh được để trong cặp dấu nháy đơn nếu có kiểu chuỗi ký tự)**

**Ví dụ 1: Lọc lấy dữ liệu có tháng tham gia là tháng 6**

In [ ]:
data[data['join_month']=='June']

**Ví dụ 2: Lọc lấy dữ liệu có trên 500 đánh giá tốt**

In [ ]:
data[data['rating_good']>=500]

**Ví dụ 3: Lọc lấy tên các shop và địa chỉ có trên 1000 đánh giá tốt**

In [ ]:
data[data['rating_good'] > 1000].loc[:,['name','shop_location','rating_good']]

In [ ]:
data[data['rating_good'] > 1000].filter(['name','shop_location','rating_good'])

**Lọc theo điều kiện phức**  
<font color='red' size="5" >**df[(df[‘Tên_cột_1’] PTSS giá_trị) PTLG (df[‘Tên_cột_n’] PTSS giá_trị_n)]**</font>  
<font color='red' size="5" >**df[(so sánh 1) PTLG (so sanh 2)]**</font>
**Các điều kiện được nối với nhau bởi phép toán logic PTLG gồm: & (và), | (hoặc), ~ (phủ định)**

**Ví dụ 4: Lọc lấy tên các shop và địa chỉ có trên 1000 đánh giá tốt và trung bình đánh giá trên 4 sao**

In [ ]:
data[(data['rating_good'] > 1000) & (data['rating_star'] > 4)].filter(['name','shop_location','rating_good','rating_star'])

**Ví dụ 5: Lọc lấy các dữ liệu của các shop có trên 5 năm tồn tại, được shoppe verify, và không có quá 200 đánh giá xấu**

In [ ]:
data[(data['join_year']<=2017) & (data['is_shopee_verified'] == 1) & (data['rating_bad']<200)].filter(['name'])

**Ví dụ 6: Lọc lấy các dữ liệu của các shop có địa chỉ ở Manila**  
xxx.str.contains('string')==True

In [ ]:
data[data['shop_location'].str.contains('Manila')==True]

**Ví dụ 7: Tên cột có chứa dấu cách.**  
**shop_location -> shop location**

### 1.4 Lọc bằng hàm query()

**Phương thức truy vấn query giúp câu lệnh truy vấn chạy nhanh hơn**  
**Các điều kiện được nối với nhau bởi các phép toán logic như: and (và), or (hoặc), not (phủ định) và được để trong một cặp dấu nháy kép.**  
<font color='red' size="5" >**df.query("(Tên_cột_1 PTSS giá_trị_1) PTLG (Tên_cột_n PTSS giá_trị_n)")**</font>  
<font color='red' size="5" >**df.query("(so sanh 1) PTLG (so sanh 2)")**</font>

**Ví dụ 1: Lọc lấy tên các shop và địa chỉ có trên 1000 đánh giá tốt và trung bình đánh giá trên 4 sao**

In [ ]:
data[(data['rating_good'] > 1000) & (data['rating_star'] > 4)].filter(['name','shop_location','rating_good','rating_star'])

In [ ]:
data.query("(rating_good > 1000) and (rating_star > 4)").filter(['name','shop_location', 'rating_good','rating_star'])

**Ví dụ 2: Lọc lấy các dữ liệu của các shop có từ 5 năm tồn tại, được shoppe verify, và không có quá 200 đánh giá xấu**

In [ ]:
data.query("() and () and ()").filter(['name'])

In [ ]:
data.query("(join_year <= 2017) and (is_shopee_verified == 1) and (rating_bad <200)").filter(['name','shop_location'])

**Ví dụ 3: Lọc lấy các dữ liệu của các shop có địa chỉ ở Manila**  
xxx.str.contains('string')==True

In [ ]:
data.rename(columns= {'shop_location':'shop location'}, inplace=True)
data

In [ ]:
data.query("`shop location`.str.contains('Manila')==True") #Dùng dấu `...` cho tên cột có chứa ký tự đặc biệt

## 2. Gom nhóm dữ liệu

**Nhóm – groupby là một hình thức tổng hợp dữ liệu theo chiến lược tách-áp dụng-kết hợp. Đầu tiên dữ liệu được chia thành các nhóm giống nhau rồi áp dụng các phép toán tổng hợp như mean, min, max, count, sum… trên mỗi nhóm và kết hợp các kết quả từ mỗi nhóm.** 
<font color='red' size="5" >**df.groupby(‘Thuộc tính cần phân nhóm’)[‘Thuộc tính cần tính giá trị’].phép toán()**</font>

**Ví dụ 1: Lập bảng số lượng sản phẩm theo tên của shop**

In [ ]:
data.groupby('name')['item_count'].sum()

**Ví dụ 2: Lập bảng tính tổng số lượng đánh giá của shop**  
<font color='red' size="5" >**df.groupby(‘Thuộc tính cần phân nhóm’)[‘Thuộc tính cần tính giá trị’].phép toán()**</font>

In [ ]:
data.groupby('name')['rating_bad','rating_good','rating_normal'].sum()

**Ví dụ 3: Xuất ra số lượng các shop thành lập theo năm**  
<font color='red' size="5" >**df.groupby(‘Thuộc tính cần phân nhóm’)[‘Thuộc tính cần tính giá trị’].phép toán()**</font>

In [10]:
data.groupby('join_year')['shopid'].count()

join_year
2015      4
2016     27
2017    156
2018     87
2019    106
2020    247
2021    119
Name: shopid, dtype: int64

In [11]:
data.groupby('join_year')['pk_shop'].count()

join_year
2015      4
2016     27
2017    156
2018     87
2019    106
2020    247
2021    119
Name: pk_shop, dtype: int64

## 3. Sinh dữ liệu từ các cột đã có

In [12]:
data.groupby('join_year')['shopid'].count()

join_year
2015      4
2016     27
2017    156
2018     87
2019    106
2020    247
2021    119
Name: shopid, dtype: int64

In [14]:
data.pivot_table(values='shopid',index='join_year',aggfunc='count')

           shopid
join_year
2015            4
2016           27
2017          156
2018           87
2019          106
2020          247
2021          119

In [17]:
#df.loc[:,'cotmoi']=df.loc[:'cot1'] phép toán df.loc[:,'cột 2']
data.loc[:,'rating']= data.loc[:,'rating_good']*2+data.loc[:,'rating_normal']-data.loc[:,'rating_bad']*3
data

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop,rating
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0,35206
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0,5276
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0,2147790
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0,38001
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0,78847
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,20210706449182992,2021-07-06,449182992,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay",0,32,0,5.00,0,0,64
742,20210706396605392,2021-07-06,396605392,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN,1,9,0,4.60,0,0,15
743,20210706360379308,2021-07-06,360379308,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN,16,463,16,4.75,1,0,894
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0,204680
745,2021070625811092,2021-07-06,25811092,angelcity.ð,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0,1407928

In [22]:
data.loc[:,'location']=data.loc[:,'shop_location']+" , " +'Philippine'
data.loc[:,'location']

0                                          NaN
1        San Nicolas,Metro Manila , Philippine
2         Pasay City,Metro Manila , Philippine
3            Binondo,Metro Manila , Philippine
4      Caloocan City,Metro Manila , Philippine
                        ...
741            Legazpi City,Albay , Philippine
742                                        NaN
743                                        NaN
744          Binondo,Metro Manila , Philippine
745       Pasay City,Metro Manila , Philippine
Name: location, Length: 746, dtype: object

In [24]:
data.loc[:,'join'] =data.loc[:,'join_month'] + " " + data.loc[:,'join_day'].astype(str) + "," + data.loc[:,'join_year'].astype(str)
data.loc[:,'join']

0          April 27,2020
1      September 25,2020
2      September 27,2016
3          April 30,2017
4        October 18,2016
             ...
741          May 22,2021
742         March 3,2021
743     December 20,2020
744        August 2,2017
745         June 17,2017
Name: join, Length: 746, dtype: object

In [25]:
data.loc[:,'test']=data.loc[:,'join_year']>2020
data.loc[:,'test']

0      False
1      False
2      False
3      False
4      False
       ...
741     True
742     True
743    False
744    False
745    False
Name: test, Length: 746, dtype: bool

In [26]:
data.loc[:,'medal']=np.where(data.loc[:,'rating']>1000,'gold','sliver')
data.loc[:,'medal']

0        gold
1        gold
2        gold
3        gold
4        gold
        ...
741    sliver
742    sliver
743    sliver
744      gold
745      gold
Name: medal, Length: 746, dtype: object

In [33]:
conditions = [(data.loc[:,'rating']>=100000),
              (data.loc[:,'rating']>=50000) & (data.loc[:,'rating']<100000),
              (data.loc[:,'rating']>=10000) & (data.loc[:,'rating']<50000)]
values = ['gold','silver','bronze']
data.loc[:,'medal']=np.select(conditions, values, default=np.NaN)
data.loc[:,['name','rating','medal']]

                     name   rating   medal
0            hello.may.ph    35206  bronze
1         love.women.shop     5276     nan
2           R&O RedOrange  2147790    gold
3             patriciacai    38001  bronze
4    Little Market Manila    78847  silver
..                    ...      ...     ...
741     Yacent_thrift_Clo       64     nan
742           Akistore.ph       15     nan
743          Yzanice Shop      894     nan
744        Clairecvc Shop   204680    gold
745        angelcity.ð  1407928    gold

[746 rows x 3 columns]

In [32]:
data.loc[:,'District']=data.loc[:,'shop_location'].str.split(',').str[0]
data.loc[:,'District']

0                NaN
1        San Nicolas
2         Pasay City
3            Binondo
4      Caloocan City
           ...
741     Legazpi City
742              NaN
743              NaN
744          Binondo
745       Pasay City
Name: District, Length: 746, dtype: object

In [36]:
data.loc[:'dat_collected']

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,...,rating_star,is_shopee_verified,is_official_shop,rating,date,location,join,test,medal,District
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,...,4.81,1,0,35206,"April 27,2020",NaN,"April 27,2020",False,bronze,NaN
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,...,4.68,0,0,5276,"September 25,2020","San Nicolas,Metro Manila , Philippine","September 25,2020",False,nan,San Nicolas
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,...,4.91,1,0,2147790,"September 27,2016","Pasay City,Metro Manila , Philippine","September 27,2016",False,gold,Pasay City
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,...,4.94,1,0,38001,"April 30,2017","Binondo,Metro Manila , Philippine","April 30,2017",False,bronze,Binondo
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,...,4.73,1,0,78847,"October 18,2016","Caloocan City,Metro Manila , Philippine","October 18,2016",False,silver,Caloocan City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,20210706449182992,2021-07-06,449182992,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,...,5.00,0,0,64,"May 22,2021","Legazpi City,Albay , Philippine","May 22,2021",True,nan,Legazpi City
742,20210706396605392,2021-07-06,396605392,Akistore.ph,March,3,2021,84,84,08:01:23,...,4.60,0,0,15,"March 3,2021",NaN,"March 3,2021",True,nan,NaN
743,20210706360379308,2021-07-06,360379308,Yzanice Shop,December,20,2020,78,5982,08:46:30,...,4.75,1,0,894,"December 20,2020",NaN,"December 20,2020",False,nan,NaN
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,...,4.78,0,0,204680,"August 2,2017","Binondo,Metro Manila , Philippine","August 2,2017",False,gold,Binondo
745,2021070625811092,2021-07-06,25811092,angelcity.ð,June,17,2017,272,868370,10:02:42,...,4.77,0,0,1407928,"June 17,2017","Pasay City,Metro Manila , Philippine","June 17,2017",False,gold,Pasay City

In [37]:
data.loc[:,'Day']=pd.to_datetime(data.loc[:,'date_collected'],format='%Y-%m-%d').dt.day
data.loc[:,'Month']=pd.to_datetime(data.loc[:,'date_collected'],format='%Y-%m-%d').dt.month
data.loc[:,'Year']=pd.to_datetime(data.loc[:,'date_collected'],format='%Y-%m-%d').dt.year
data.loc[:,['date_collected','Day', 'Month', 'Year']]

    date_collected  Day  Month  Year
0       2021-06-13   13      6  2021
1       2021-06-13   13      6  2021
2       2021-06-13   13      6  2021
3       2021-06-13   13      6  2021
4       2021-06-13   13      6  2021
..             ...  ...    ...   ...
741     2021-07-06    6      7  2021
742     2021-07-06    6      7  2021
743     2021-07-06    6      7  2021
744     2021-07-06    6      7  2021
745     2021-07-06    6      7  2021

[746 rows x 4 columns]

In [38]:
data.loc[:,'Hour']=pd.to_datetime(data.loc[:,'response_time'],format=' %H:%M:%S').dt.hour
data.loc[:,'Minute']=pd.to_datetime(data.loc[:,'response_time'],format=' %H:%M:%S').dt.minute
data.loc[:,'Second']=pd.to_datetime(data.loc[:,'response_time'],format=' %H:%M:%S').dt.second
data.loc[:,['response_time','Hour', 'Minute', 'Second']]

    response_time  Hour  Minute  Second
0        10:13:55    10      13      55
1        10:43:05    10      43       5
2        08:32:07     8      32       7
3        09:10:38     9      10      38
4        11:40:59    11      40      59
..            ...   ...     ...     ...
741      08:45:30     8      45      30
742      08:01:23     8       1      23
743      08:46:30     8      46      30
744      12:19:44    12      19      44
745      10:02:42    10       2      42

[746 rows x 4 columns]