In [3]:
# Nhập thư viện
import pandas as pd
import numpy as np
print('Khai báo thư viện thành công')

Khai báo thư viện thành công

# DataFrame

In [4]:
# Tạo DataFrame rỗng
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [5]:
# Tạo DataFrame từ List:
# Khai báo List:
lst = ['Kế toán','Kinh doanh','Tiếp thị']
# Gán giá trị của List vào DataFrame
df = pd.DataFrame(lst)
df

            0
0     Kế toán
1  Kinh doanh
2    Tiếp thị

In [6]:
# Tạo DataFrame từ Tuple:
# Khai báo Tuple:
tuples = [('Kế toán', 2000),( 'Kinh doanh', 2100), ('Tiếp thị', 1900)]
# Gán giá trị của Tuple vào DataFrame
df = pd.DataFrame(tuples, columns=['Nghề','Lương'])
df

         Nghề  Lương
0     Kế toán   2000
1  Kinh doanh   2100
2    Tiếp thị   1900

In [7]:
# Tạo DataFrame từ Dictionary :
# Khai báo Dictionary :
dic = {'Công việc':['Kỹ sư','Bác sĩ','Giáo viên'],'Thu nhập':[3000, 3100, 2900]}
# Gán giá trị của Dictionary vào DataFrame
df = pd.DataFrame(dic)
df

   Công việc  Thu nhập
0      Kỹ sư      3000
1     Bác sĩ      3100
2  Giáo viên      2900

# Series

In [8]:
# Tạo Series từ Dictionary
# Khai báo Dictionary:
dict = {0 : 'Kế toán', 1 : 'Kinh doanh', 2 : 'Tiếp thị'}
# Gán giá trị của Dictionary vào Series
seri = pd.Series(dict)
seri

0       Kế toán
1    Kinh doanh
2      Tiếp thị
dtype: object

In [9]:
# Tạo Series từ Numpy array
# Tạo Numpy array
arr = np.array([51,65,48,59,68])
# Gán giá trị của array vào Series
seri = pd.Series(arr)
seri

0    51
1    65
2    48
3    59
4    68
dtype: int32

In [12]:
# Tạo series từ các giá trị vô hướng
# Tạo Series
# seri = pd.Series(10, index=[0,1,2,3,4,5])
seri = pd.Series(np.arange(1,18,2))
seri

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
8    17
dtype: int32